In [1]:
import pandas as pd

In [2]:
ORIGINAL_DATA = pd.read_csv("../Original Data/tb.csv")

In [3]:
ORIGINAL_DATA.head()

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_copy = ORIGINAL_DATA.copy()

In [ ]:
data_copy.info()

In [ ]:
data_copy = data_copy.dropna(axis=0, subset=["new_sp"])

In [ ]:
data_copy.info()

In [ ]:
data_copy = data_copy.drop(columns = ["new_sp_m04","new_sp_m514","new_sp_f04","new_sp_f514","new_sp_mu","new_sp_fu"])

In [ ]:
data_copy.head()

In [ ]:
data_copy.info()

In [ ]:
data_copy[data_copy["iso2"].isnull()]

In [ ]:
data_copy = data_copy[data_copy["iso2"].notna()]

In [ ]:
data_copy.head(20)

In [ ]:
data_copy.info()

In [ ]:
data_copy.head(20)

In [ ]:
data_copy = data_copy.dropna()

In [ ]:
data_copy.info()

In [ ]:
data_copy.head(20)