In [ ]:
# Import niezbędnych bibliotek
import pandas as pd

In [ ]:
# Wczytanie oryginalnych danych
ORIGINAL_DATA = pd.read_csv("../Original Data/tb.csv")
ORIGINAL_DATA.head()

In [ ]:
# Stworzenie kopii danych, na której będziemy operować
data_copy = ORIGINAL_DATA.copy()
data_copy.info()

In [ ]:
# Usunięcie zbędnych kolumn
data_copy = data_copy.drop(columns = ["new_sp","new_sp_m04","new_sp_m514","new_sp_f04","new_sp_f514","new_sp_mu","new_sp_fu"])

In [ ]:
# Usunięcie kraju o którym nie ma danych
data_copy = data_copy[data_copy["iso2"].notna()]

In [ ]:
# Usunięcie rekordów zawierających NaNy
data_copy = data_copy.dropna()
data_copy.head(10)

In [ ]:
# Stworzenie "długiej tablicy" zawierającej najważniejsze dane w surowej postaci
data_copy = pd.melt(data_copy, id_vars=['iso2', 'year'], value_vars=list(data_copy.columns)[2:],
                    var_name='cases_sex_age', value_name='cases')
data_copy.head(10)

In [ ]:
# Rozdzielenie kolumny "cases_sex_age" na dwie kolumny zawierające osobno płeć i przedział wiekowy
data_copy['sex'] = data_copy['cases_sex_age'].str[7]
data_copy['age'] = data_copy['cases_sex_age'].str[8:].map({'014': '0-14', '1524': '15-24', '2534': '25-34',
    '3544': '35-44', '4554': '45-54', '5564': '55-64', '65': '65+'})

In [ ]:
# Usunięcie zbędnej już kolumny "cases_sex_age"
data_copy = data_copy.drop(['cases_sex_age'], axis = 1)

In [ ]:
# Wyrównanie indeksów
data_copy.reset_index(drop=True)

In [ ]:
# Ostatni rzut okiem na dane
data_copy.tail(20)

In [ ]:
# Eksport przetworzonych danych do pliku .csv
data_copy.to_csv('../Analysis Data/tidy_data.csv')