In [1]:
# Import niezbędnych bibliotek
import pandas as pd

In [2]:
# Wczytanie oryginalnych danych
ORIGINAL_DATA = pd.read_csv("../Original Data/tb.csv")
ORIGINAL_DATA.head()

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Stworzenie kopii danych, na której będziemy operować
data_copy = ORIGINAL_DATA.copy()
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5769 entries, 0 to 5768
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iso2          5746 non-null   object
 1   year          5769 non-null   int64
 2   new_sp        3081 non-null   float64
 3   new_sp_m04    392 non-null    float64
 4   new_sp_m514   401 non-null    float64
 5   new_sp_m014   2381 non-null   float64
 6   new_sp_m1524  2407 non-null   float64
 7   new_sp_m2534  2408 non-null   float64
 8   new_sp_m3544  2415 non-null   float64
 9   new_sp_m4554  2421 non-null   float64
 10  new_sp_m5564  2414 non-null   float64
 11  new_sp_m65    2408 non-null   float64
 12  new_sp_mu     273 non-null    float64
 13  new_sp_f04    393 non-null    float64
 14  new_sp_f514   404 non-null    float64
 15  new_sp_f014   2378 non-null   float64
 16  new_sp_f1524  2394 non-null   float64
 17  new_sp_f2534  2400 non-null   float64
 18  new_sp_f3544  2398 non-null   float64
 19  new_sp_f4554  2401 non-null   float64
 20  new_sp_f5564  2394 non-null   float64
 21  new_sp_f65    2396 non-null   float64
 22  new_sp_fu     272 non-null    float64
dtypes: float64(21), int64(1), object(1)
memory usage: 1.0+ MB

In [4]:
# Usunięcie zbędnych kolumn
data_copy = data_copy.drop(columns = ["new_sp","new_sp_m04","new_sp_m514","new_sp_f04","new_sp_f514","new_sp_mu","new_sp_fu"])

In [5]:
# Usunięcie kraju o którym nie ma danych
data_copy = data_copy[data_copy["iso2"].notna()]

In [6]:
# Usunięcie rekordów zawierających NaNy
data_copy = data_copy.dropna()
data_copy.head(10)

,iso2,year,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,new_sp_m65,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65
6,AD,1996,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
7,AD,1997,0.0,0.0,1.0,2.0,2.0,1.0,6.0,0.0,1.0,2.0,3.0,0.0,0.0,1.0
9,AD,1999,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12,AD,2002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,AD,2003,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
14,AD,2004,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,AD,2005,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
16,AD,2006,0.0,1.0,1.0,2.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
18,AD,2008,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
35,AE,1999,4.0,9.0,3.0,2.0,4.0,6.0,5.0,9.0,11.0,5.0,3.0,0.0,3.0,2.0

In [7]:
# Stworzenie "długiej tablicy" zawierającej najważniejsze dane w surowej postaci
data_copy = pd.melt(data_copy, id_vars=['iso2', 'year'], value_vars=list(data_copy.columns)[2:],
                    var_name='cases_sex_age', value_name='cases')
data_copy.head(10)

  iso2  year cases_sex_age  cases
0   AD  1996   new_sp_m014    0.0
1   AD  1997   new_sp_m014    0.0
2   AD  1999   new_sp_m014    0.0
3   AD  2002   new_sp_m014    0.0
4   AD  2003   new_sp_m014    0.0
5   AD  2004   new_sp_m014    0.0
6   AD  2005   new_sp_m014    0.0
7   AD  2006   new_sp_m014    0.0
8   AD  2008   new_sp_m014    0.0
9   AE  1999   new_sp_m014    4.0

In [8]:
# Rozdzielenie kolumny "cases_sex_age" na dwie kolumny zawierające osobno płeć i przedział wiekowy
data_copy['sex'] = data_copy['cases_sex_age'].str[7]
data_copy['age'] = data_copy['cases_sex_age'].str[8:].map({'014': '0-14', '1524': '15-24', '2534': '25-34',
    '3544': '35-44', '4554': '45-54', '5564': '55-64', '65': '65+'})

In [9]:
# Usunięcie zbędnej już kolumny "cases_sex_age"
data_copy = data_copy.drop(['cases_sex_age'], axis = 1)

In [10]:
# Wyrównanie indeksów
data_copy.reset_index(drop=True)

      iso2  year  cases sex   age
0       AD  1996    0.0   m  0-14
1       AD  1997    0.0   m  0-14
2       AD  1999    0.0   m  0-14
3       AD  2002    0.0   m  0-14
4       AD  2003    0.0   m  0-14
...    ...   ...    ...  ..   ...
32657   ZW  2004  111.0   f   65+
32658   ZW  2005  603.0   f   65+
32659   ZW  2006   96.0   f   65+
32660   ZW  2007   90.0   f   65+
32661   ZW  2008  105.0   f   65+

[32662 rows x 5 columns]

In [13]:
# Ostatni rzut okiem na dane
data_copy.head(20)

   iso2  year  cases sex   age
0    AD  1996    0.0   m  0-14
1    AD  1997    0.0   m  0-14
2    AD  1999    0.0   m  0-14
3    AD  2002    0.0   m  0-14
4    AD  2003    0.0   m  0-14
5    AD  2004    0.0   m  0-14
6    AD  2005    0.0   m  0-14
7    AD  2006    0.0   m  0-14
8    AD  2008    0.0   m  0-14
9    AE  1999    4.0   m  0-14
10   AE  2000    2.0   m  0-14
11   AE  2002    1.0   m  0-14
12   AE  2003    2.0   m  0-14
13   AE  2004    1.0   m  0-14
14   AE  2006    0.0   m  0-14
15   AE  2007    2.0   m  0-14
16   AE  2008    0.0   m  0-14
17   AF  1997    0.0   m  0-14
18   AF  1998   30.0   m  0-14
19   AF  1999    8.0   m  0-14

In [15]:
# Eksport przetworzonych danych do pliku .csv
data_copy.to_csv('../Analysis Data/tidy_data.csv', index = False)